@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.paper {
  background-color: white;
  padding: 0em 1em;
  font-family: "Open Sans", sans-serif;
}

.title,
.app-only,
.address,
.timings {
  text-align: center;
}

.title {
  margin: 0.2em;
}

#name,
#phone1,
#email {
  display: inline;
}

#phone1 {
  float: right;
  margin-top: 0;
}

#email {
  float: right;
  margin-top: 0;
  margin-bottom: 0;
}

#degree,
#phone2 {
  display: inline;
}

#phone2 {
  float: right;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: -6.8em;
}

#regd {
  margin: 0 auto 0.5em;
  display: inline;
}

.current-date {
  float: right;
  margin-top: 0;
}

.app-only {
  font-size: small;
  margin: 0.2em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.address,
.timings {
  margin: 0em;
  font-size: small;
}

.timings {
  padding: 0.5em;
  border-bottom: 1px solid black;
  margin-bottom: 0.5em;
}

#time1,
#time2 {
  display: inline;
}

#time1 {
  margin-right: 2em;
}

.patient {
  margin-top: 1em;
}

.patient-name,
.patient-gender,
.types {
  padding: 0.5em;
}

option {
  border: none;
}

#med1,
#med2,
#med3,
#med4,
#med5,
#med6 {
  font-size: medium;
  padding: 0.2em;
  border: 1px solid black;
  border-radius: 0.2em;
}

#delete {
  background-color: gold;
  font-size: larger;
  padding: 0.5em;
  border-radius: 0.5em;
}

#delete:hover {
  background-color: red;
  color: white;
}

#print {
  background-color: greenyellow;
  font-size: larger;
  color: black;
  padding: 0.5em;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0.5em;
}

#print:hover {
  background-color: green;
  color: white;
}

#add {
  background-color: rgb(178, 255, 229);
  font-size: medium;
  padding: 0.5em;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0.5em;
  margin-right: 2.5em;
}

#add:hover {
  background-color: rgb(0, 255, 170);
}

#gen {
  display: inline;
}

input[type="button"] {
  font-size: medium;
  padding: 0.5em;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0.5em;
  margin-right: 1em;
}

input[type="text"] {
  font-size: medium;
  padding: 0.5em;
}

.lines {
  margin: 0;
  padding: 0;
}

.sign {
  display: none;
  position: absolute;
  bottom: 0;
  width: 95%;
}

.signh5 {
  float: right;
  padding-top: 0.5em;
  padding-right: 10em;
  border-top: 1px solid black;
}

#printing {
  height: 65vh;
}

@media print {
  input[type="text"] {
    border: none;
    padding: 0;
  }

  .types {
    display: none;
  }

  input[type="button"] {
    display: none;
  }

  .sign {
    display: block;
  }
}
